html, body {
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.loginForm {
  width: 100%;
  max-width: 320px;
  padding: 30px;
  border: 1px solid #000;
  border-radius: 4px;
}

.loginForm label {
  display: block;
}

.loginForm label:nth-of-type(2) {
  margin-top: 16px;
}

.loginForm label:nth-of-type(3) {
  margin-top: 24px;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.loginForm label:nth-of-type(3) p {
  margin-left: 1em;
}

.loginForm__inputTitle {
  font-size: 1.4rem;
}

.loginForm input[type="text"], .loginForm input[type="password"] {
  display: block;
  width: 100%;
  padding: 6px 4px;
  font-size: 1.6rem;
  background-color: #FFF2CC;
  border: 1px solid #000;
  border-radius: 4px;
}

.loginForm input[type="button"] {
  display: block;
  width: 100%;
  padding: 6px 4px;
  font-size: 1.4rem;
  margin: 10px auto 0;
  padding: 6px;
  background-color: #C9DAF8;
  border: 1px solid #000;
  border-radius: 4px;
}

.loginForm__forget {
  display: block;
  margin-top: 10px;
  text-decoration: underline;
  font-size: 1.2rem;
}
